
 <form action="/tasks/add" method="post">
  
  <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Nombre del usuario que va a cambiar</label>
  <input type="name" class="form-control" id="exampleFormControlInput1" name="title" placeholder="Nombre">
</div>

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Dinero</label>
  <input type="number" class="form-control" id="exampleFormControlInput1" name="dinero" placeholder="Dinero">
</div>
<div><a href="/menu">
 <button type="submit" class="btn btn-primary">Add</button></a>
</div>
</form>
<br>
<a href="/menu" style="background-color: aliceblue;">Ir al convertir</a>
