<body background="http://cdn2.dineroenimagen.com/media/dinero/styles/xlarge/public/images/2021/01/istock-dinero_1.jpg" >
    
</body>

<div style="align-items: center;">
<div class="container p-4" style="align-items: center;">
    <div class="row">
        <div class="col-md-5" style="align-items: center;">
            {{>tasks/taskForm}}
        </div>
        <br>
    </div>
</div>
</div>
</div>